<h1>Word Central</h1>

<h2>Inspection results</h2>

<dl>
  <dt>Word count</dt>
  <dd><%= @word_count %></dd>

  <dt>Reading time</dt>
  <dd>About <%= @minutes %> minutes</dd>
</dl>


<h3>Text</h3>

<blockquote>
  <%= @text %>
</blockquote>
