<h1>Word Central</h1>

<p>Your destination for text utilities.</p>

<ul>
  <li>
    <a href="/text_inspections/new">
      Submit text for inspection
    </a>
  </li>

  <li>
    <a href="/asciis/new">
      Convert text to ascii
    </a>
  </li>

  <li>
    <a href="/flipsums/new">
      Generate placeholder text from
      <i>The Godfather</i>
    </a>
  </li>
</ul>
